*{
    margin: 0%;
}

:root{
    --azulClaro: #51d2ff;
    --azulEscuro: #5D88FE;
    --preto: #000;
    --cinza: #a7a7a7;
    --branco: #FFFFFF;
}

#titulo{
    width: 1357px;
    height: 80px;
    background-color: var(--azulClaro);
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0.60;
    display: inline-block;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#gif{
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0px;
}

#imagem{
    display: flex;
    position: absolute;
    top: 50px;
    right: -10px;
    z-index: -1;
    border-radius: 15%;
}

header{
    z-index: 1;
}

#Fale{
    display: flex;
    position: absolute;
    top: 120px;
    height: 350px;
    width: 300px;
    background-color: var(--azulEscuro);
    text-align: center;
    left: 40px;
    border-radius: 35px;
}

body{
    background-image: url(Imagens/dom-m0sd3v-greenbill.gif);
}

#footer{
    display: flex;
    position: absolute;
    width: 1357px;
    height: 45px;
    background-color: var(--branco);
    top: 600px;
    opacity: 0.6;
    justify-content: center;
}

#Enviar{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: var(--azulClaro);
}

#Enviar:active{
    background-color: var(--azulEscuro);
}

#Fale:valid{
    color: var(--azulEscuro);
}

#Fale:invalid{
    color: var(--azulClaro);
}

#nome:focus{
    background-color: var(--cinza);
    border: 5px solid var(--azulClaro);
}

#email:focus{
    background-color: var(--cinza);
    border: 5px solid var(--azulClaro);
}

#mensagem:focus{
    background-color: var(--cinza);
    border: 5px solid var(--azulClaro);
}

#email:valid{
    color: green;
}

#email:invalid{
    color: red;
}